.navbar-sticky-top {
  position: fixed;
  top: 0px;
}
nav {
  overflow: hidden;
  width: 100%;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 10;
}
.sticky {
  padding: 0px 20px;
  background-color: black;
}
nav a {
  text-decoration: none;
  color: white;
}
nav > a:hover {
  filter: invert(50%);
}
nav div {
  display: none;
  justify-content: space-evenly;
  height: 100%;
}
nav span {
  padding: 20px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.padding-10 {
  padding: 10px;
}
nav > a {
  transition: all 500ms;
}
nav span img {
  margin-right: 15px;
  height: 25px;
  width: 25px;
}
.activeClass {
  background-color: whitesmoke;
  color: black;
  border: 2px solid green;
}
nav a:hover {
  color: rgb(194, 193, 193);
}
@media (max-width: 760px) {
  nav {
    padding: 0px 20px;
  }
}
@media (min-width: 890px) {
  nav {
    justify-content: space-between;
  }
  nav div {
    display: flex;
  }
}
